/* Variables here are inherited from simple.min.css */

/***********************
 *	OVERRIDE DEFAULTS  *
 ***********************/

a {
	text-decoration: none;
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


footer nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* ToDo  */
/* Current section name next to website name in header */
header h1, header h3 {
	display: inline;
}


main details {
	border: none;
	background: var(--bg);
}

/* This duplicate of <h2> font-size property is needed for <summary> to inherite h2 when expandable_summary is enabled */
/*   Else it will render title and marker on different lines */
.h2 {
	font-size: calc(var(--base-fontsize) * var(--header-scale) * var(--header-scale) * var(--header-scale));
}
