<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>{% block title %}{{ config.extra.title }}{% endblock title %}</title>
	<link rel="stylesheet" href="{{ get_url( path="css/simple.min.css", trailing_slash=false) | safe }}"/>
	<link rel="stylesheet" href="{{ get_url( path="css/custom.css", trailing_slash=false) | safe }}"/>

	<!-- ATOM/RSS feed link for RSS readers -->
	{% if config.generate_feed == true %}
		{% if config.feed_filename == "atom.xml" %}
			<link rel="alternate" type="application/atom+xml" title="ATOM" href="{{ get_url(path=config.feed_filename) | safe }}"/>
		{% else %}
			<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}"/>
		{% endif %}
	{% endif %}
</head>

<body>
	 <header>
		<h1>
			<a href="{{ config.base_url }}">
				{{ config.extra.title }}
					{# ToDo : implement : add strong subtitle for categories and tags (sections) #}
					{#                    example : #JOHN DOE > ##blog #}
			</a>
		</h1>
		{% block current_section %}
			{% if section.ancestors.1 %}
				<h3>
					{{ section.ancestors.1 }}
				</h3>
			{% endif %}
		{% endblock current_section %}

		<nav>

		</nav>
	</header>

	<main>
		{% block content %}
			{% if section.content %}
				{{ section.content | safe }}
			{% endif %}

			{% for page in section.pages %}
				{% if config.extra.expandable_summary %}
				<details>
					<summary class="h2"><a href="{{ page.permalink | safe }}">{{ page.title }}</a></summary>
					<p>{{ page.date }}</p>
					<p>{{ page.description }}</p>
				</details>
				{% else %}
				<a href="{{ page.permalink | safe }}"><h2>{{ page.title }}</h2></a>
				<p>{{ page.date }}</p>
				{% endif %}
			{% endfor %}
		{% endblock content %}
	</main>

	<footer>
		<!--
		{# Turn this into a flexbox #}
		{#   They should be on top of each other on smaller screens #}
		{#   They should appear next to each other on larger screens#}
		<nav id="pages">
			{# top-menu goes here as well #}
		</nav>

{# I still am do not know how to get the list of categories and tags from the Zola. #}
{#   I should read the manual and source code of other themes more carefully #}
		<nav id="categories">
{#
			{% for cat in config.extra.categories %}
			<a href=""></a>
			{% endfor %}
#}
		</nav>
		<nav id="tags">
{#
			{% for tag in tags %}
			{% endfor %}
#}
		</nav>
		-->
		{% block license %}
			{% if config.extra.license %}
				<p>All work is licensed under <strong>{{ config.extra.license }}</strong> unless otherwise is stated.</p>
			{% endif %}
		{% endblock license %}
	</footer>
</body>
</html>
