{% extends "index.html" %}

{% block title %}
	{{ page.title }} | {{ config.extra.title }}
{% endblock title %}

{% block content %}
	<h1>
		{{ page.title }}
	</h1>

	<!--  FRONT MATTER IDEA #1  -->
	<nav>
		<span>Published : {{ page.date }}</span>

		{% if page.updated %}
			<span>Updated : {{ page.updated }}</span>
		{% endif %}
	</nav>

	<!--  FRONT MATTER IDEA #2
	<p>
		[
			Published: {{ page.date }}
		|
			Updated: {{ page.updated }}
		]
	</p>
	-->

	<!--  FRONT MATTER IDEA #3
	{% if page.extra.comment is defined %}
		{{ macro::comment(comment_url=page.extra.comment) }}
	{% endif %}
	-->

	{{ page.content | safe }}

{% endblock content %}

{% block current_section %}
	{% if page.ancestors.0 %}
		<h3>
			{{ page.ancestors.0 }}
		</h3>
	{% endif %}
{% endblock current_section %}
